body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#output
{
    padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
}
.input_div_message_page
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
    width: 80%;
    margin: auto;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
#output {
    margin: auto;
}
.user_tick
{
	width:20px;
}